.main{
  background-color: aquamarine;
  height: auto;
  width: fit-content;
  display: flex;
  align-items:flex-end;
}
.sub{
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 10px;
  width: 40px;
  margin: 5px;
  border: 2px solid #f8f7f7;
}
.btn{
  height: 40px;
  width: 255px;
  font-size: larger;
  background-color: #f9f5f5;
  color: rgb(11, 10, 10);
  font-weight: bold;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.array-bar {
  display: inline-block;
  width: 20px;
  background-color: blue;
  margin: 0 2px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.sudoku-grid {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.sudoku-grid td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  width: 33.33%;
  height: 33.33%;
}

.sudoku-grid input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
}

.merge-btn{
  padding: 20px;
  margin: 30px;
  font-size: 28px;
  font-weight: bold;
  color: blue;
  background-color: plum;
  border-radius: 16px;
  max-width: fit-content;
  cursor: pointer;
}
.msg{
  color: red;
  font-size: x-large;
}

.heading{
  text-align: center;
    background-color: burlywood;
    margin: 0;
    padding: 25px;
}
.merge-form-merge-file{
  padding: 40px;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  background-color: beige;
  max-width: fit-content;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

